# Project-1 

Build Decision Tree(DV-"Survived",IDV-"Age,Gender and Fare") and Prediction

In [39]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestClassifier
%matplotlib

Using matplotlib backend: agg

In [2]:
titanic = pd.read_csv('https://raw.githubusercontent.com/LetsUpgrade/AI-ML-July-2020/master/Day-24/Dataset/train.csv')

In [3]:
titanic.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [4]:
titanic.shape

(889, 12)

In [5]:
titanic.describe

<bound method NDFrame.describe of      PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
884          887         0       2  ...  13.0000   NaN         S
885          888         1       1  ...  30.0000   B42         S
886          889         0       3  ...  23.4500   NaN         S
887          890         1       1  ...  30.0000  C148         C
888          891         0       3  ...   7.7500   NaN         Q

[889 rows x 12 columns]>

In [7]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
IDV = ['Age', 'Fare', 'Sex']
DV = ['Survived']

Label Encoder

In [14]:
le = LabelEncoder()
titanic['Sex'] = le.fit_transform(titanic['Sex'])

In [15]:
titanic.head()

   PassengerId  Survived  Pclass  ... Fare  Cabin  Embarked
0            1         0       3  ...   18    NaN         S
1            2         1       1  ...  207    C85         C
2            3         1       3  ...   41    NaN         S
3            4         1       1  ...  189   C123         S
4            5         0       3  ...   43    NaN         S

[5 rows x 12 columns]

In [16]:
x = titanic[IDV]
y = titanic[DV]

In [18]:
model = DecisionTreeClassifier(max_depth=6)
model.fit(x,y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [26]:
model.score(x, y )

0.8256467941507312

In [19]:
titanic_test = pd.read_csv('https://raw.githubusercontent.com/LetsUpgrade/AI-ML-July-2020/master/Day-24/Dataset/test.csv')

In [20]:
titanic_test.shape

(417, 10)

In [23]:
titanic_test.head()

   PassengerId  Pclass  ...     Fare  Embarked
0          892       3  ...   7.8292         Q
1          893       3  ...   7.0000         S
2          894       2  ...   9.6875         Q
3          895       3  ...   8.6625         S
4          896       3  ...  12.2875         S

[5 rows x 10 columns]

In [27]:
titanic_test['Sex'] = le.fit_transform(titanic_test['Sex'])

In [29]:
pred = model.predict(titanic_test[IDV])

In [34]:
with open('DecisionTree.dot','w') as file:
    file = export_graphviz(model, feature_names=['AGE','FARE','GENDER'], out_file= file)

#Project 2: Build Decision Tree for Attrition Rate Analysis
DV - "Attrition"

IDV - Output of RF Algorithm

In [35]:
df = pd.read_csv('https://raw.githubusercontent.com/LetsUpgrade/AI-ML-July-2020/master/Day-24/Dataset/general_data.csv')

In [36]:
df.head()

   Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51        No  ...                       0                    0
1   31       Yes  ...                       1                    4
2   32        No  ...                       0                    3
3   38        No  ...                       7                    5
4   32        No  ...                       0                    4

[5 rows x 24 columns]

In [37]:
df.shape

(4410, 24)

In [38]:
df.describe

<bound method NDFrame.describe of       Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0      51        No  ...                       0                    0
1      31       Yes  ...                       1                    4
2      32        No  ...                       0                    3
3      38        No  ...                       7                    5
4      32        No  ...                       0                    4
...   ...       ...  ...                     ...                  ...
4405   42        No  ...                       0                    2
4406   29        No  ...                       0                    2
4407   25        No  ...                       1                    2
4408   42        No  ...                       7                    8
4409   40        No  ...                       3                    9

[4410 rows x 24 columns]>

In [52]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)

In [41]:
df['Attrition'] = le.fit_transform(df['Attrition'])
df['BusinessTravel'] = le.fit_transform(df['BusinessTravel'])
df['Department'] = le.fit_transform(df['Department'])
df['EducationField'] = le.fit_transform(df['EducationField'])
df['Gender'] = le.fit_transform(df['Gender'])
df['JobRole'] = le.fit_transform(df['JobRole'])
df['MaritalStatus'] = le.fit_transform(df['MaritalStatus'])
df['Over18'] = le.fit_transform(df['Over18'])

Random Forest Classifier

In [62]:
RF_Model = RandomForestClassifier(n_estimators = 2000, max_features = 4, oob_score = True)

In [63]:
IDV = ['Age', 'BusinessTravel', 'Department', 'DistanceFromHome', 'Education', 'EducationField', 
                'Gender', 'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked', 
                'Over18', 'PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 
                'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']
DV = ['Attrition']

In [64]:
RF_Model.fit(X = df[IDV], y= df[DV])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=4,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=2000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [65]:
print('OOB Score for RF Model')
RF_Model.oob_score_

OOB Score for RF Model

1.0

In [66]:
for train_feat, imp in zip(IDV, RF_Model.feature_importances_):
    print(train_feat, '-->', imp)

Age --> 0.1017077607294654
BusinessTravel --> 0.02743947223992267
Department --> 0.02492435240298482
DistanceFromHome --> 0.07070349140197506
Education --> 0.03865823246710839
EducationField --> 0.04048013019042884
Gender --> 0.016334061482773526
JobLevel --> 0.03492157109995392
JobRole --> 0.05540752257031463
MaritalStatus --> 0.03884994672579997
MonthlyIncome --> 0.1069778037455874
NumCompaniesWorked --> 0.056617905884918704
Over18 --> 0.0
PercentSalaryHike --> 0.06646127510783319
StockOptionLevel --> 0.03310704725848628
TotalWorkingYears --> 0.08697534640416574
TrainingTimesLastYear --> 0.04419904862326858
YearsAtCompany --> 0.06483143212844554
YearsSinceLastPromotion --> 0.042301726391549076
YearsWithCurrManager --> 0.0491018731450184

In [68]:
RFIDV = ['Age', 'MonthlyIncome', 'TotalWorkingYears', 'DistanceFromHome']

In [67]:
DT_Model = DecisionTreeClassifier(max_depth= 12)

In [69]:
DT_Model.fit(X = df[RFIDV], y = df[DV] )

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=12, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [70]:
DT_Model.score(X = df[RFIDV], y = df[DV])

0.9313099041533547

# Project 3: Build Decision Tree for Bank Loan Modelling

DV - "Personal Loan"

IDV - Output of RF Algorithm

In [74]:
BLM = pd.read_excel('https://raw.githubusercontent.com/LetsUpgrade/AI-ML-July-2020/master/Day-24/Dataset/Bank_Personal_Loan_Modelling.xlsx', sheet_name='Data')

In [75]:
BLM.shape

(5000, 14)

In [76]:
BLM.head()

   ID  Age  Experience  ...  CD Account  Online  CreditCard
0   1   25           1  ...           0       0           0
1   2   45          19  ...           0       0           0
2   3   39          15  ...           0       0           0
3   4   35           9  ...           0       0           0
4   5   35           8  ...           0       0           1

[5 rows x 14 columns]

In [78]:
BLM.dropna(inplace=True)
BLM.drop_duplicates(inplace=True)

In [77]:
BLM.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [89]:
y =  BLM['Personal Loan']
x = ['Age', 'Experience', 'Income',  'Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account',
       'CD Account', 'Online', 'CreditCard']

In [90]:
RF_Model_BLM = RandomForestClassifier(n_estimators = 2000, max_features = 4 , oob_score = True)

In [91]:
RF_Model_BLM.fit(X = BLM[x], y = y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=4,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=2000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [92]:
print('OOB Score for RF Model')
RF_Model_BLM.oob_score_

OOB Score for RF Model

0.9886

In [93]:
for train_feat, imp in zip(x, RF_Model_BLM.feature_importances_):
    print(train_feat, '-->', imp)

Age --> 0.030759695404459254
Experience --> 0.02999729271018464
Income --> 0.33468444090306027
Family --> 0.1292938394710654
CCAvg --> 0.14715416698923017
Education --> 0.24002000097130174
Mortgage --> 0.023425824658246996
Securities Account --> 0.0032582705029446735
CD Account --> 0.049480769893024516
Online --> 0.00553866990421199
CreditCard --> 0.006387028592270199

In [94]:
RF_x = ['Income','Family' , 'CCAvg', 'Education']

In [95]:
DF_Model_BLM = DecisionTreeClassifier(max_depth= 12)

In [96]:
DF_Model_BLM.fit(X = BLM[RF_x],y=y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=12, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [97]:
DF_Model_BLM.score(X = BLM[RF_x],y=y)

0.9994

In [99]:
with open('DecisionTreeBLM.dot','w') as file:
    file = export_graphviz(DF_Model_BLM, feature_names=['Income','Family' , 'CCAvg', 'Education'], out_file= file)