Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

In [7]:
email = 'john@google.com'
email_domain = email.split('@')[1]
company_Name = email_domain.split('.')[0]
print(company_Name)

google

Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

In [1]:
input = 'Without,Hello,Bag,World'
input = input.split(',')
input.sort()
print(input)

['Bag', 'Hello', 'Without', 'World']

Question 3: Create your own Jupyter Notebook for Sets.

In [13]:
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

{1, 2, 3, 4}

In [16]:
my_set = set([1, 2, 3, 2])
print(my_set)
print(type(my_set))

{1, 2, 3}
<class 'set'>

In [25]:
my_set = {1, 3}
print(my_set)
my_set.add(2)
print(my_set)
my_set.update([5, 6, 4])
print(my_set)
my_set.update([7, 8], {1, 6, 9})
print(my_set)
my_set.discard(4)
print(my_set)
my_set.remove(6)
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 5, 6, 7, 8, 9}
{1, 2, 3, 5, 7, 8, 9}

In [26]:
print(my_set.pop())

1

In [27]:
my_set.clear()
print(my_set)

set()

In [37]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
# Union
print(A | B)
A.union(B)
B.union(A)
# inter section
print('inter section',A & B)
A.intersection(B)
# difference
print("Difference", A - B)
# symmetric_difference
print("symmetric_difference", A ^ B)
print("Symmetric Difference",A.symmetric_difference(B))
print('3' not in my_set)

{1, 2, 3, 4, 5, 6, 7, 8}
inter section {4, 5}
Difference {1, 2, 3}
symmetric_difference {1, 2, 3, 6, 7, 8}
Symmetric Difference {1, 2, 3, 6, 7, 8}
True

Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [52]:
L = [1,3,4,5,6,8,9, 10, 14,16, 17, 20]
for i in range(1,21):
  if i not in L:
    print(i, end=' ')

2 7 11 12 13 15 18 19

In the above list, [2,7,11,12,13,15,18,19] are missing.

Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [60]:
#del L
L = [1,3,3,5,10,8,9, 10, 14,1, 10, 20]
print(list(set(L)))

[1, 3, 5, 8, 9, 10, 14, 20]

1, 3, 5, 8, 9, 10, 14, 20 element of the list L has been removed because it was already present.